<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SQLConnSTR" providerName="SqlServer" connectionString="server=(local);database=SinGooCMS-v1.6;uid=sa;pwd=123"/>
  </connectionStrings>
  <appSettings>
    <add key="DbVersionNo" value="10"/>
  </appSettings>
</configuration>
